.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.dashboard-card
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.dashboard-card
img {
  background-size: cover;
  max-height: 120px;
}
.dashboard-card
.dashboard-card-content {
  text-align: left;
}
.dashboard-card
mat-card-actions {
  position: absolute;
  bottom: 5px;
  margin-bottom: 0!important;
}
